@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap");

.cards {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.cards {
  h1 {
    font-family: "Comic Neue";
    font-size: 3rem;
  }

  img {
    width: 95%;
    margin-right: 5px;
  }

  .card-text {
    font-family: "Comic Neue";
    font-weight: bold;
    font-size: 1.4rem;
    color: #b06d81;
    margin: 2px 10px 40px 10px;
  }
}

@media screen and (min-width: 1024px) {
  .cards {
    img {
      width: 50%;
      margin-left: 220px;
    }

    .card-text {
      font-size: 1.8rem;
      margin: 2px 220px 40px 220px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cards {
    img {
      width: 75%;
      margin-left: 90px;
    }

    .card-text {
      font-size: 1.8rem;
      margin: 2px 60px 40px 85px;
    }
  }
}

@media screen and (min-width: 415px) and (max-width: 767px) {
  .cards {
    img {
      width: 55%;
      margin-left: 150px;
    }

    .card-text {
      margin: 2px 150px 40px 150px;
    }
  }
}

.options .button-more-confetti {
  width: 45%;
  margin-bottom: 10px;
}

.options .button-home {
  width: 45%;
}
